---
import MainLayout from "./MainLayout.astro";
import { formatDate, slugify } from "../js/utils";

const { frontmatter } = Astro.props;
const { title, date, featureImage, imageDimensions } = frontmatter;
---

<MainLayout title={title}>
    <article class="post">
        <header class="postHeader">
            <span class="listPostDate">
                {formatDate(date)}
            </span>
          <h1>
            <span class="postTitle" style={`--transition-name: ${slugify(title)}`}>{title}</span>
          </h1>
        </header>
        {featureImage && 
        <div class="featureImageWrapper">
          <img src={featureImage} width={imageDimensions.width} height={imageDimensions.height} class="featureImage" />
        </div>
        }
        <div class={featureImage ? 'postContent featureImageContent' : 'postContent'}>
            <slot />
        </div>
      </article>
</MainLayout>